/*
 ##########################################################
 START DO NOT CHANGE ZONE
 ##########################################################
*/

html {
  box-sizing: border-box;

  color: #222;
  font: normal 100%/1.5 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 45em;
}

header {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

h1 {
  margin: 0;

  font-size: 1.5rem;
}

.chapter-num {
  display: block;

  font-size: 1rem;
  font-style: italic;
}

.colon {
  display: none;
}

main {
  padding: 1.5rem 0;
}

p {
  margin: 0;

  text-indent: 1.3em;
}

p:first-child {
  text-indent: 0;
}

main > p:first-child::first-line {
  font-style: italic;
}

footer {
  padding: 1.5rem 0;

  background-color: #333;

  color: #f2f2f2;
}

/*
 ##########################################################
 END DO NOT CHANGE ZONE
 ##########################################################
*/

/* Write your CSS here */

figure {
  float: right;
  width: 300px;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  padding-top: .5em;
  margin-right: -7rem;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: .5rem;
}

figcaption {
  font-style: italic;
  font-size: .875rem;
}

blockquote {
  float: left;
  width: 300px;
  font-size: 1.5rem;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  text-align: right;
  color: #666;
  margin: .5em .5em .5em -6em;

}

main > p:first-child::first-letter {
  float: left;
  font-size: 5rem;
  background-color: #666;
  color: #f2f2f2;
  font-style: normal;
  border-top: solid black 3px;
  border-bottom: solid black 3px;
  margin-right: .1em;
  margin-top: .1em;
  padding: .1em .2em;
  margin-left: -10px;
}
